ion-app {
  background-color: #0e1939;
  z-index: 0;

  // .mesh-content {
  //   z-index: 10;
  //   position: absolute;
  // }
  app-mesh {
    position: absolute;
    z-index: 10;
  }

  .title {
    padding: 26%;
    height: 31.57%;
    color: rgb(255, 255, 255);
    text-align: center;

    .title-content {
      font-size: 190%;
      letter-spacing: 0.5px;
      line-height: 0.9;
      font-family: Futura Md BT, sans-serif;
      margin: 0%;
    }

    .title-details {
      font-size: 70%;
      font-family: Futura Bk BT;
      font-weight: 10;
      color: rgba(255, 255, 255, 0.651);
      margin: 9.5%;
    }
  }
  .content {
    padding: 33%;

    ion-img {
      position: absolute;
      top: 46%;
    }
  }
  .button {
    height: 21%;
    display: flex;
    flex-direction: column;

    .button-style {
      margin-top: 11%;
      padding: 14.5px 40px;
      border-radius: 16px;
      background-color: #6175b2;
      color: rgba(255, 255, 255, 0.897);
      align-self: center;
      font-family: Futura Md BT;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.5px;
      font-weight: 600;
    }
  }
}
